<%- include('partials/header.ejs') %>
<div class="container">
    <div class="hero">
        <div class="row">
            <div class="col-md-6">
                <br>
                <br>
                <br>
                <br>
                <br>
                <h1 class="display-3">Find accessible stays anywhere and everywhere.</h1>
                <p class="lead">Hoteliy allows you to find hotels at the ease of a search, and book them directly through the hotel's website with no hidden fees!</p>
                <a class="btn btn-lg btn-primary" style="margin-right: 5px;">Login</a><a class="btn btn-lg btn-outline-primary">Signup</a>
            </div>
            <div class="col-md-6">
                <img src="https://ik.imagekit.io/wjn5o3agi/photo-1512100356356-de1b84283e18.avif?updatedAt=1712402111329" alt="Image" class="img-fluid w-100 mx-auto d-block">
            </div>
        </div>
    </div>
</div>
<%- include('partials/footer.ejs') %>